<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  </head>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Estudiante</h4>
                <ul>
                    <li><a >Pablo Fabián Saltos Carrillo</a></li>

                </ul>
            </div>
            <div class="footer-col">
                <h4>Materia</h4>
                <ul>
                    <li><a>Modelamiento y simulación</a></li>

                </ul>
            </div>
            <div class="footer-col">
                <h4>Curso</h4>
                <ul>
                    <li><a>Sexto Semestre "A"</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/pablo.saltoscarrillo/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/PabloSaltos5" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.facebook.com/pablo.saltoscarrillo/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>