<mat-card>
  <h1>Promedio móvil</h1>
      
  <p align="justify">
    El método de promedio móvil se utiliza cuando se requiere dar más importancia a los datos recientes, el
pronóstico se lo calcula con el promedio de n valores de los datos más recientes de la siguiente forma:
<br>
<br>
Promedio Móvil= (∑▒〖(n puntos de datos más recientes)〗)/n
<br>
<br>
Ejemplo: Para este ejemplo vamos a utilizar una serie cronológica de las exportaciones de Ecuador del
período 2003-2017, datos tomados del sitio estadístico del BANCO CENTRAL DEL ECUADOR. El análisis
de pronósticos está enfocado a procesar los datos con los tres métodos promedio móvil, suavización
exponencial y por ultimo con la regresión de los mínimos cuadrados.
  </p>
  <br>
  <br>
  <br>

  <div fxLayoutAlign="center center" class="main-div"> <!-- fxFlexFill -->
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Realizar Ejercicio</mat-toolbar>

        <form fxLayoutAlign="stretch" fxLayout="column" class="ejercicio-form">
          <p>Carga tu base de datos con el botón de abajo :D</p>
        
          <div class="file-upload">
            {{ fileName || "Suba un archivo" }}
            <button color="warn" mat-raised-button (click)="file.click()">Cargar datos</button>
          </div>
          
          <br>
          <input type="file" class="file-input" accept=".csv, .xlsx" #file (change)="onChange(file.files)" />
          <br>

          <mat-form-field>
              <input matInput placeholder="columna tiempo (X)" (keyup)="onChangeX($event)" />
          </mat-form-field>

        
          <br />
          <mat-form-field>
            <input matInput placeholder="columna datos (Y)" (keyup)="onChangeY($event)" />
          </mat-form-field>
            
          <br />
        
          <button color="warn" mat-raised-button (click)="onUpload()">Mostrar datos</button>
        </form>
    </mat-card>

  </div>

  <br />
  <br />
  <mat-card id="hidden">
    <h3>Resultado promedio móvil:</h3>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container *ngIf="llegaronDatos">
          <ng-container [matColumnDef]="nombreX">
            <th mat-header-cell *matHeaderCellDef>{{ nombreX }}</th>
            <td mat-cell *matCellDef="let element">{{ element[nombreX] }}</td>
          </ng-container>
  
          <ng-container [matColumnDef]="nombreY">
            <th mat-header-cell *matHeaderCellDef>{{ nombreY }}</th>
            <td mat-cell *matCellDef="let element">{{ element[nombreY] }}</td>
          </ng-container>
        </ng-container>
  
        <ng-container matColumnDef="MMO_3">
          <th mat-header-cell *matHeaderCellDef>MMO_3</th>
          <td mat-cell *matCellDef="let element">{{ element.MMO_3 }}</td>
        </ng-container>
  
        <ng-container matColumnDef="MMO_4">
          <th mat-header-cell *matHeaderCellDef>MMO_4</th>
          <td mat-cell *matCellDef="let element">{{ element.MMO_4 }}</td>
        </ng-container>
        <ng-container matColumnDef="e_MM3">
          <th mat-header-cell *matHeaderCellDef>e_MM3</th>
          <td mat-cell *matCellDef="let element">{{ element.e_MM3 }}</td>
        </ng-container>
        <ng-container matColumnDef="e_MM4">
          <th mat-header-cell *matHeaderCellDef>e_MM4</th>
          <td mat-cell *matCellDef="let element">{{ element.e_MM4 }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
  
      <mat-paginator
        [pageSizeOptions]="[10, 20]"
        showFirstLastButtons
        aria-label="Select page of data"
      >
      </mat-paginator>
    </div>
  </mat-card>
