<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i" rel="stylesheet">
</head>

<div class="site-content">
	<section class="intro">
		<div class="wrapintro">
			<h1>¿De que trata este sitio web?</h1>
			<h2 class="lead">En este sitio web, se podrán realizar ejercicios pertenecientes a la asignatura de Modelamiento y simulación</h2>
			<a target="_blank" class="btn">Realiza un clic en "Ejercicios"</a>
		</div>
	</section>
	<div class="container">
		<div class="main-content">
			<div class="row">			
				<div class="col-sm-8">
					<div class="mainheading">
						<h1 class="posttitle">Modelamiento y simulación</h1>
					</div>
					<img class="featured-image img-fluid" src="../../assets/modelamiento.jpg" alt="">
					<div class="article-post">
						<p align="justify">
							El modelamiento matemático y la simulación no sólo son caminos inevitables para comprender mejor la complejidad del mundo, sino que también nos proporcionan herramientas de predicción fantásticamente eficientes.
						</p>
					</div>
				</div>
				<div class="col-sm-4">
                    <div class="sidebar-right">
                        <div class="sidebar">
                            <div class="sidebar-section">
                                <h5><span>Manual de usuario</span></h5>
                                <link href="https://cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                                <div id="mc_embed_signup">
                                    <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                        <div id="mc_embed_signup_scroll">
                                            <h2>Este manual ayudará a comprender la manera de realizar los ejercicios de modelamiento y simulación en este sitio web.</h2>
											<div id="mce-responses" class="clear">
                                                <div class="response" id="mce-error-response" style="display:none">
                                                </div>
                                                <div class="response" id="mce-success-response" style="display:none">
                                                </div>
                                            </div>
                                            <div class="clear">
												<a mat-flat-button href="https://www.youtube.com/" target="_blank"  color="warn">Ver manual de usuario</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="sidebar-section">
                                <h5><span>Estudiante</span></h5>
								<div class="row post-top-meta">
									<img src="../../assets/pablo.jpeg" class='imgRedonda' />
									<div class="col-md-10">
										<a target="_blank" class="link-dark" href="#">Pablo Saltos Carrillo</a><a target="_blank" href="https://www.facebook.com/pablo.saltoscarrillo/" class="btn follow">Follow</a>
										<span class="author-description">Estudiante de la Universidad Laica Eloy Alfaro de Manabí, actualmente en 6to semestre de Tegnologías de la Información </span>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>

